*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

a {
  display: inline-block;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  width: 100%;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  /* font-family: 'Poppins',
        sans-serif; */
  line-height: 1.4;
}

nav {
  background: #fbfbfb;
}

.nav-row {
  border-bottom: 2px solid #dedede;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-row-first {
  padding: 1.5rem 3rem;
}

.nav-lang-link {
  color: #000;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.nav-social-button {
  font-size: 2.2rem;
  margin: 0 1.2rem;
  color: #000;
  transition: color 150ms ease-in-out;
}

.nav-social-button#twitter:active,
.nav-social-button#twitter:hover {
  color: #1da1f2;
}

.nav-social-button#facebook:active,
.nav-social-button#facebook:hover {
  color: #1877f2;
}

.nav-social-button#instagram:active,
.nav-social-button#instagram:hover {
  color: #c32aa3;
}

.nav-row-second {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-row-container {
  display: flex;
  height: 100%;
}

.nav-menu {
  display: inline-flex;
  padding: 3rem 4rem;
  align-items: center;
  border-right: 1px solid #ccc;
}

.nav-menu svg {
  font-size: 3rem;
  margin-right: 2rem;
}

.nav-logo {
  justify-self: center;
  height: 8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.nav-actions {
  justify-self: right;
}

.nav-sec-row-link {
  padding: 3rem 2.5rem;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: background 150ms ease-in-out;
}

.nav-sec-row-link:hover,
.nav-sec-row-link:active {
  background: #f1f1f1;
}

#LoginButton {
  position: relative;
}

.submit-article {
  background: #00a9a1;
  height: 100%;
  color: #fff;
  text-decoration: none;
  transition: background 200ms ease-in-out;
}

.submit-article:hover,
.submit-article:active {
  background: #009b93;
}

/* header */
.header {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header img {
  width: 100%;
}

/* trending */
.main-index {
  position: relative;
  top: -8rem;
}

.trending-container {
  margin: 4rem;

}

.trending {
  background: #fff;
  width: 100%;
  display: flex;
  padding: 1.5rem 2rem;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.trending-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: 22rem;
  padding: 1rem;
  line-height: 1;
  position: relative;
  transition: all 300ms ease-in-out;
  top: 0;
  display: block;
  height: 100%;
  backface-visibility: hidden;
}

.trending-item:hover,
.trending-item:active {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.17);
  transform: scale(1.01);
  top: -4px;
}

.trending-item:not(:last-child) {
  margin-right: 3rem;
}

.trending-image {
  width: 100%;
  height: 17rem;
  overflow: hidden;
  width: 100%;
}

.trending-image img {
  width: 100%;
}

.trending-title {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 1.2rem;
  line-height: 1;
}

.trending-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

.trending-tag-container {
  display: flex;
  flex-wrap: wrap;
  float: 1;
  justify-content: flex-end;
}

.trending-name-tag {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag-item {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  margin: 0.1rem;
  text-decoration: none;
  border-radius: 50rem;
  color: #fff;
  background: #1877f2;
  display: inline-block;
}

.trendin-user {
  font-size: 1rem;
  float: 1;
  display: flex;
  align-items: center;
}

.trendin-user-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.trendin-user-image img {
  width: 100%;
}

.trendin-user-name {
  margin-left: 0.5rem;
}

/* Footer */
.footer {
  border-top: 1px solid #ccc;
  padding: 2rem 3rem;
  display: flex;
  align-self: center;
  justify-content: space-between;
  font-size: 1.4rem;
}

.footer-links a {
  color: #000;
  text-decoration: none;
  margin-right: 2rem;
  text-transform: capitalize;
}

/* REGISTER */
.register-container {
  width: 35rem;
  position: absolute;
  top: 170px;
  border-radius: 3px;
  z-index: 9999;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #f1f1f1;
  justify-content: space-between;
  display: none;
  opacity: 0;
  background: #fff;
  right: 230px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.15);
}

.register-container h2 {
  padding: 2rem 0;
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.social-media-container {
  padding: 2rem;
  padding-top: 0;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.register-social-icons {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 2.5rem;
}

#facebook-background {
  background-image: linear-gradient(120deg, #1877f2, #145ab6);
}

#twitter-background {
  background-image: linear-gradient(120deg, #1da1f2, #198fd8);
}

.social-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.social-item-container p {
  margin-top: 1rem;
}

/* input */
.article-form-container {
  margin: 4rem 4rem;
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-gap: 5rem;
}

.article-form-container:not(:last-child) {
  margin-bottom: 2rem;
}

.input-container {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  margin: 3rem 0;
}

.input-title {
  margin-top: 1rem;
  font-size: 1.4rem;
  grid-row: 1/3;
  font-weight: 600;
}

.input {
  grid-column: 2/3;
  padding: 0.5rem 0.2rem;
  border: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 2px solid #ccc;
  transition: all 200ms ease-in-out;
}

.input:focus {
  outline: none;
  border-bottom: 2px solid #eec65a;
}

.input::placeholder {
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
}

.input-text {
  margin-top: 0.5rem;
  line-height: 1;
  grid-column: 2/3;
  font-size: 1.12rem;
  color: #757575;
}

.input-image-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 4rem;
  align-items: center;
}

.input-image {
  border: 2px solid #ccc;
  display: block;
  cursor: pointer;
  padding: 1.5rem;
  width: 7rem;
  height: 7rem;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
}

.input-image-with-image {
  border: 2px solid #ccc;
  display: block;
  cursor: default;
  padding: 0;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
}

.input-image-with-image img {
  border-radius: 3px;
  width: 100%;
}

.input-image svg {
  fill: #ccc;
  transition: all 200ms ease-in-out;
}

.input-file-image {
  position: relative;
}

.input-file-close-icon {
  width: 2.5rem !important;
  height: 2.5rem !important;
  top: 1px;
  position: absolute;
  z-index: 9999;
  right: 0;
  cursor: pointer;
  color: #fff;
  margin: 0.4rem 0.8rem;
  padding: 3px;
  border-radius: 50%;
  background: #bdbdbd4a;
}

.input-image:hover svg,
.input-image:active svg {
  fill: #eec65a;
}

.input-image:hover,
.input-image:active {
  border: 2px solid #eec65a;
}

#articleImage {
  display: none;
}

.input-small {
  font-size: 1.4rem;
  border-bottom: 1px solid #ccc;
}

.social-input-container {
  grid-column: 2/3;
}

.input-small:hover,
.input-small:active {
  border-bottom: 1px solid #eec65a;
}

.input-small::placeholder {
  font-size: 1.4rem;
}

.addarticle-elements-container {
  margin-top: 0.8rem;
  display: flex;
  flex-wrap: wrap;
}

.add-tag-button {
  display: inline-block;
  justify-self: left;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  border: 0;
  background: #eeeeee;
  border-radius: 2px;
  font-size: 1.4rem;
  transition: all 150ms ease-in-out;
  color: #5f5f5f;
}

.add-tag-button:hover,
.add-tag-button:active {
  background: #e7e7e7;
}

.article-col-header {
  font-size: 1.8rem;
  padding: 0 0.3rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}

.tags {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

}

.tag-main-item {
  padding: .5rem 1rem;
  border-radius: 50rem;
  margin: 0 2rem;
  background: #cf3a3a;
  color: #fff;
  text-decoration: none;
}

.input-inline {
  padding: 0.5rem 0.7rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 3rem;
  width: auto;
  position: relative;
}

#addEditorInput,
#addWriterInput,
#addtagInput {
  display: none;
}

.input-inline:focus {
  outline: none;
}

.article-item-style {
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  background: #fff;
  display: flex;
  position: relative;
  font-size: 1.4rem;
  top: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.13);
  transition: all 200ms ease-in-out;
  margin: 1rem 0;
}

.article-item-style:not(:last-child) {
  margin-right: 1rem;
}

.article-item-style::before {
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0;
  top: -1px;
  transition: all 120ms ease-in-out;
  background: #dbc023;
}

.article-item-style:hover,
.article-item-style:active {
  top: -1px;
  box-shadow: 0 1px 7px 2px rgba(0, 0, 0, 0.15);
}

.article-item-style:hover::before {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: -1px;
  background: #dbc023;
}

.article-item-style button {
  margin-left: 1rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

#reading-time {
  display: none;
}

.elements-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.publish-button::before {
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  background-image: linear-gradient(45deg, #a18c12, #dbc023);
  z-index: -1;
  transition: all 200ms ease-in-out;
  opacity: 1;
}

.publish-button:hover::before {
  animation: publishAnimations 500ms;
}

@keyframes publishAnimations {
  0% {
    width: 100%;
    opacity: 1;
  }

  90% {
    width: 110%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

.publish-button {
  background-image: linear-gradient(45deg, #a18c12, #dbc023);
  padding: 2.5rem;
  position: relative;
  border: 0;
  z-index: 1;
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  outline: none;
}

/* articles pages */
.articles-container {
  padding: 3rem 7rem;
  display: flex;
  background: #f8f8f8;
}

.foryou {
  flex: 3;
  margin-right: 10rem;
}

.article-link {
  display: grid;
  text-decoration: none;
  color: inherit;
  background: #fff;
  border: 1px solid #f8f8f8;
  grid-template-columns: 4fr 1fr;
  position: relative;
  top: 0;
  grid-gap: 1rem;
  transition: all 200ms;
  margin-bottom: 3rem;
}

.article-link::before {
  /* content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 2px;
  background: #009b93;
  transition: all 200ms ease-in-out; */
}

.article-link:hover::before {
  /* width: 100%; */
}

.article_header {
  height: 40rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 4rem;
}

.article_body {
  width: 80%;
  font-size: 1.6rem;
  word-spacing: 2px;
  margin: 0 auto;
  margin-bottom: 5rem;
  line-height: 1.5;
}

.article_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.article_tagline {
  font-size: 3.2rem;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  /* margin-bottom: 3rem; */
}

.article_name {
  display: inline-block;
  margin: 1rem 0;
}

.article_header img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.article-link:active,
.article-link:hover {
  top: -2px;
  box-shadow: 10px 10px #388a86;
  background: #ffffff;
  border: 0;
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;

}

.glider-track {
  margin-left: 20rem !important;
}

.article-link-info {
  display: grid;
  padding: 1rem 2rem;
  padding-right: 1rem;
  grid-template-columns: 1fr 1fr;
}

.article-link-tagline {
  font-size: 2.2rem;
  grid-column: 1/-1;
  margin-bottom: 0.8rem;
}

.article-link-descriptinon {
  grid-column: 1/-1;
  font-size: 1.4rem;
  color: #4a4a4a;
  margin-bottom: 1.5rem;
}

.article-link-publication-name {
  grid-column: 1/-1;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.article-link-small-info {
  display: flex;
  color: #313131;
  font-size: 1.3rem;
}

.article-link-date {
  margin-right: 2rem;
}

.article-link-image {
  width: 14rem;
  height: 100%;
  overflow: hidden;
}

.article-link-image img {
  width: 100%;
  height: 100%;
}

.article-link-image {
  width: 16rem;
  height: 17rem;
  overflow: hidden;
  justify-self: self-end;
}

.popular-col {
  flex: 2;
}

.popular-col .heading-underline {
  margin-bottom: 5rem;
}

.heading-underline {
  font-size: 4rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #ddd;
}

.popular-article {
  display: flex;
  text-decoration: none;
  color: inherit;
  margin-bottom: 4rem;
  position: relative;
}



.popular-article-number {
  font-size: 4rem;
  font-weight: 800;
  color: #ccc;
  margin-right: 2rem;
}

.popular-article-info {
  margin-top: 0.7rem;
}

.popular-article-heading {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.popular-article-name {
  font-size: 1.8rem;
  margin-bottom: 0.1rem;
  margin-bottom: 0.5rem;
}

.search-res-row {
  display: none;
}

@media only screen and (max-width: 500px) {
  #navsearchbutton {
    display: none;
  }

  .submit-article {
    display: none;
  }

  .search-res-row {
    display: block;
    padding: 1rem 2rem;
    border-bottom: 2px solid #eee;
  }

  .header img {
    height: 100%;
    width: auto;
  }
}

.container {
  position: relative;
}

#article-content {
  display: none;
}

.article-link-actions {
  justify-self: right;
  display: flex;
  color: #313131;
}

.article-link-actions>* {
  margin: 0 1rem;
}

.input-text-err {
  color: #cf3a3a;
}

.article-sumbmition-container {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  left: 0;
  z-index: 9;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}

.article-sumbmition-container--active {
  display: block;
}

.article-sumbmition {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup-message-icon {
  display: none;
}

.popup-message-icon--active {
  display: block;
}

.popup-message-icon-success--acitve {
  display: block;
}

.popup-message-icon-error--acitve {
  display: block;
}

.article-sumbmition-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-sumbmition-loading {
  margin-top: 2rem;
  font-size: 2rem;
}

.article-sumbmition-circle {
  height: 8rem;
  width: 8rem;
  background: #fff;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-sumbmition-circle>* {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.comment-section {
  border-top: 1px solid #ccc;
  padding: 2rem;
}



.add-comment {
  display: flex;
}

.add-comment input {
  padding: .7rem 2rem;
  border-radius: 50rem;
  border: 1px solid #8f8f8f;
  outline: none;
  margin-right: 2rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.comment-section-heading {
  margin-bottom: 1rem;
}

.comment-container {
  padding: 1rem;
  margin-top: 2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.comment-item-container {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.comment-item-container:not(:last-child) {
  margin-bottom: 1rem;
}

.add-comment svg {
  margin-left: 1rem !important;
}

.add-comment button {
  border-radius: 10rem;
  background-color: royalblue;
  border: 1px solid royalblue;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  padding: .7rem 2rem;
}

@media only screen and (max-width: 500px) {
  .article-form-container {
    grid-template-columns: 1fr;
  }

  .search-nav-container {
    display: none !important;
  }

  .register-container {
    right: 10px;
  }

  .articles-container {
    flex-direction: column;
    padding: 3rem;
  }

  .foryou {
    margin: 0;
  }
}

.sidemenu {
  width: 40rem;
  position: fixed;
  left: -40rem;
  top: 0;
  height: 100vh;
  background: #fff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #008f88;
}

.sidemenu-link {
  color: inherit;
  font-size: 2rem;
  padding: 2rem 2rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.sidemenu-link:hover,
.sidemenu-link:active {
  background: #f2f2f2;
}

.sidemenu-link-active {
  background: #00a9a1;
  color: #fff;
}

.sidemenu-link-active:hover {
  background: #00a9a1;
  color: #fff;

}

/* profile */

.profile-header {
  height: 40rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-header img {
  width: 100%;
}

.profile-container {
  background: #fff;
  position: relative;
  top: -10rem;
  margin: 3rem;
  box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 25rem 1fr;
}

.profile-container-sidenav {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
  border-right: 1px solid #ddd;
  flex-direction: column;
}

.profile-container-sidenav a {
  padding: 2rem;
  transition: all 150ms ease-in-out;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.profile-container-sidenav a:hover,
.profile-container-sidenav a:active {
  background: #f2f2f2;
}

.profile-content {
  flex: 4;
  height: 70rem;
}

.profile-content-header {
  border-bottom: 1px solid #ccc;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0rem;
  width: 25rem;
}

.profile-info {
  flex: 3;
}

.profile-status {
  flex: 1;
}

.edit-profile-header {
  position: absolute;
  width: 100%;
  justify-content: center;
  display: flex;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  align-items: center;
}

.edit-profile-edit-icon {
  border-radius: 50%;
  background: #0000007d;
  padding: 2.3rem;
  height: 10rem !important;
  cursor: pointer;
  color: #bbbbbb;
  width: 10rem !important;
}

#profile-header {
  display: none;
}

.profile-status {
  border-left: 1px solid #ddd;
}

.profile-status-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem 2rem;
}

.profile-status-box:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.profile-status-number {
  font-size: 2rem;
  color: #009b93;
  font-weight: 500;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: 7rem; */
  padding: 0 3rem;
}

.profile-image-contianer {
  margin-left: 3rem;
  margin-right: 2rem;
}

.profile-image {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile-image img {
  position: relative;
  top: -1rem;
  width: 100%;
}

.profile-image-filler {
  background: #f1f1f1;
}

.profile-data-input-button {
  display: none;
}

.profile-data-and-input {
  margin: .4rem 0;
  display: flex;
  align-items: center;
}

.profile-data-input-icon {
  font-size: 1.2rem;
  margin-left: .3rem;
}

.profile-data-icon {
  margin-left: 1rem;
  cursor: pointer;
  opacity: 0;
  z-index: 9999999;
  width: 4rem !important;
  visibility: hidden;
  color: #009b93;
  font-size: 1.3rem;
  transition: all 100ms ease-in-out;
  display: block;
}


.profile-data-and-input:hover .profile-data-icon {
  opacity: 1;
  visibility: visible;
}

.profile-data-and-input-filler {
  background: #f1f1f1;
  height: 2rem;
  margin-bottom: .5rem;
}

.profile-data-input {
  display: none;
  border: 1px solid #ccc;
  padding: .3em .5rem;
  border-radius: 3px;
}

.profile-add-item {
  color: #009b93;
}

.search-nav-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 2rem;
}

#navsearchbutton {
  position: absolute;
  left: -1rem;
}

.search-nav-container input {
  padding: 1rem 4rem;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.search-content-list {
  position: absolute;
  left: 0;
  top: 73px;
  width: 100%;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.search-content-list-link {
  padding: 1rem;
  color: #000;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.search-content-list-link:nth-child(even) {
  background: #f8f8f8;
}

.search-content-list-link:nth-child(odd) {
  background: #ddd;
}

.bottom-left-popup-message {
  position: fixed;
  left: 2rem;
  bottom: 7rem;
  z-index: 9;
  display: none;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  align-items: center;
}

.bottom-left-popup-message--active {
  display: flex;
}

.bottom-left-popup-message--succ {
  border-left: 6px solid #13b100;
  background: rgba(0, 80, 0, 0.171);
}

.bottom-left-popup-message--err {
  border-left: 6px solid #b10000;
  background: rgba(80, 0, 0, 0.171);
}

.search-res-row input {
  width: 100%;
  border: 1px solid #ddd;
}

.search-res-row {
  position: relative;
}

#searchContentListSmallScreens {
  top: 27px !important;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}